.navBarStyle {
    background-color: #ffffff;
}
.navLink {
    color: black;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    font-family: Helvetica;
}

.navLinkLogin {
    color: black;
    font-size: 25px;
    font-family: Helvetica;
}

.navBarLinks {
    background-color: #ffffff;
    color: black;
    padding: 1%;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    flex-direction: row;
}


.burgerMenu {
    display: none; /* Das Burger-Menü standardmäßig ausblenden */
}

.navLogOut {
    color: black;
    font-size: 25px;
    font-family: Helvetica;
}
